.Main{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin-top: 10%;
  margin-bottom: 10%;
}
.alert{
  font-weight: bold;
  font-size: 2vw;
  text-align: left;

}
.alert-custom-header{
  margin-top: 1vw;
  background-color: rgb(9, 104, 77);
  color: white;
}
.alert-custom-footer{

  text-align: center;
  background-color: rgb(9, 104, 65);
  color: white;
  overflow: hidden;
  line-height: 1;
}
.move{
  animation: move 10s infinite linear;
}
@keyframes move {

  from {transform: translate(-70vw);}
  to {transform: translate(70vw);}
}

.App {
  text-align: center;
  font-size: calc(20px+20vmin);

}
.Avatar{
  margin-left: 10px;
  text-align: left;
  margin-left: 3%;
  margin-right: 5%;

}
.TextTitle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 2.5vw;
  font-weight: 800;
  font: Arial;
  color: blue;
}
.Rate{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: rgb(9, 104, 77);
  font-size: 1.8vw;
  font: Arial;

  opacity:1;
  z-index:2;
  animation: show .3s;
  transform: scale(1);

}
.ModalZoom{
  opacity:1;
    z-index:2;
  animation: show .2s;

transform: scale(1);
}

@keyframes show {
  from{

transform: scale(0);
    opacity:0;
      z-index:-1;
  } to{

transform: scale(1);
    opacity: 1;
      z-index:2;
  }
}
.col-sm-2{
  margin-left: 2.5vw;

}
